@font-face {
    font-family: 'Helveticaneue';
    src: url('../fonts/HelveticaNeue.ttf');
}
@font-face{
    font-family: 'helvaticaNeue_L';
    src: url("../fonts/HelveticaNeue\ Light.ttf");
}
@font-face {
    font-family: 'Helveticaneue_B';
    src: url('../fonts/Helvetica\ Neu\ Bold.ttf');
}
@font-face{
    font-family: 'helvaticaNeue_M';
    src: url("../fonts/HelveticaNeue\ Medium.ttf");
}
@font-face {
    font-family: 'Helveticaneue_T';
    src: url('../fonts/HelveticaNeue\ Thin.ttf');
}
@font-face {
    font-family: 'Helveticaneue_R';
    src: url('../fonts/helvetica-neue-regular.ttf');
}
@font-face {
    font-family: 'MyriadPro_R';
    src: url('../fonts/MyriadPro-Regular.otf');
}
body{
    font-family: MyriadPro_R;
}
/* header */

.top_header{
    height: 700px;
    width: 100%;
}
.video > video{
    width: 100%;
    height: auto;
}
.scroll-downs {
    position: absolute;
    top: 61%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
  .hamburger {
    display: flex;
     align-items: center;
     width: 40px;
     height: 23px;
     cursor: pointer;
     border-top: 6px solid #fff;
     border-bottom: 6px solid #fff;
 }
 
 .hamburger::before {
     content: "";
     width: 70%;
     border-bottom: 6px solid #fff;
     float:right;
     margin-left: 30%;
 }
 .content{
     width: 100%;
     height: 700px;
     position: absolute;
     top: 5%;
     color: white;
     background: url("../image/rectangle.png");
 }
 .header_left{
    position: relative;
    left: 2%;
 }
 .header_left > img{
     position: absolute;
     top: 0px;
 }
 .header_left > .number{
     position: absolute;
     bottom: 16%;
 }
 .header_right{
     position: relative;
     right: 2%;
 }
 .header_right > span{
     position: absolute;
     top: 0px;
     right: 2%;
 }
 .header_right > ul{
    position: absolute;
    bottom: 25%;
    right: -56%;
    text-transform: uppercase;
    list-style: none;
    transform: rotate(-90deg);
    display: inline-flex;
 }
 .header_right > ul > a{
     padding-left: 24px;
     cursor: pointer;
     color: #686768;
     text-decoration: none;
 }
 .header_right > ul > a:hover{
    color: #fff;
}
.header_right > ul > a:active{
    color: #fff;
}
.header_right > ul > a:focus{
    color: #fff;
}
 .header_center{
     position: relative;
 }
 .text_header{
    width: 70%;
    text-align: right;
    position: absolute;
    bottom: 30%;
    right: 0px;
 }
 .text_header> p{
     font-size: 34px;
 }
 .text_header > h1 strong{
     font-size: 222px;
 }
 .text_header > h1{
     font-size: 100px;
 }
 #number1, #number2
 ,#number3, #number4{
     display: grid;
     padding-top: 2px;
     cursor: pointer;
     color: #686768;
     padding-top: 10px;
 }
 #number1:hover, #number2:hover
 ,#number3:hover, #number4:hover{
     color: #fff;
 }
.outer_circle{
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 7%;
    position: relative;
}
.inner_circle{
    width: 3px;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gray_circle_outer{
    position: relative;
}
.gray_circle{
    width: 9px;
    height: 9px;
    background-color: #686768;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin-top: 2px;
}
#video_source2,
#video_source3,
#video_source4{
    display: none;
}
.menu{
    background-color: #0000009c;
    color: #686768;
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 999;
    display: none;
    transition: 0.2s ease-in-out;
    width: 92%;
}
.logo_right {
    border-bottom: 3px dashed white;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 10px;
    width: 20%;
    text-align: right;
    padding-top: 10px;
}
.menu_bar{
    width: 20%;
    position: relative;
    padding-right: 10px;
}
.menu_bar> ul > a {
    list-style: none;
    text-align: right;
    padding-top: 21px;
    cursor: pointer;
    text-decoration: none;
    color: #e1e5ea9c;
}
.menu_bar> ul > a >li{
    padding-top: 21px;
}
.menu_bar> ul > a :hover{
    color: white;
}
.menu_bar> ul > li :active:focus{
    color: white;
}
.menu_bar > p{
    padding-top: 20%;
    text-align: right;
    color: #e1e5ea9c;
}
.menu_bar > p:hover{
    color: white;
}
p.address {
    width: 64%;
    position: absolute;
    text-align: right;
    right: 0px;
    color: #e1e5ea9c
}
p.address:hover{
    color: white;
}
/* slider */
.slider4,
.slider3,
.slider2,
.slider1{
    position: relative;
}
.slider4 h3,
.slider3 h3,
.slider2 h3,
.slider1 h3{
    position: absolute;
}
.slider3> .btn.btn-dark {
    position: absolute;
    bottom: 32px;
    right: 32px;
    text-transform: uppercase;
}
.slider3 p {
    position: absolute;
    bottom: 20%;
    color: white;
    width: 51%;
    text-align: right;
    right: 32px;
}
.slider4 h3, .slider3 h3, .slider2 h3, .slider1 h3 {
    position: absolute;
    right: 0px;
    color: white;
    transform: rotate(-90deg);
    text-transform: uppercase;
}
 .slider1 h3{
    bottom: 38px;
    margin-right: 40px;
} 
.slider2 h3{
    bottom: 63px;
}
.slider3 h3{
    top: 119px;
    margin-right: -27px;
}
.slider4 h3{
    bottom: 127px;
    margin-right: -19%;
}
/* seller */
.seller{
    background: url("../image/rectangle.png") center;
    height: 700px;
}
.text_seller{
    padding-top: 135px;
    font-size: 48px;
    font-family: MyriadPro_R
}
.btn-dark{
    border-radius: unset;
}
.view_all{
    position: relative
}
.view_all > .btn{
    position: absolute;
    right: 0px;
    bottom: -139px;
}
.product1{
    background:url("../image/seller1.png") no-repeat center;
}
.product2{
    background:url("../image/seller2.png") no-repeat center;
}
.product3{
    background:url("../image/seller3.png") no-repeat center;
}
.product4{
    background:url("../image/seller4.png") no-repeat center;
}
.product1, .product2,
.product3, .product4{
    height: 306px;
    position: relative;
}
.product1 > h4, .product2 > h4,
.product3 >h4 , .product4 > h4{
    position: absolute;
    top: 96%;
}
.product1 > .btn, .product2 > .btn,
.product3 > .btn , .product4 > .btn{
    position: absolute;
    top: 0px;
    left: 0px;
}

/* about */
.model_image> .col-lg-2{
    padding-left: 0px;
    padding-right: 0px;
}
.img-fluid{
    width: 100%;
    height: 100%;
}
.about_info{
    height: 700px;
}
.about_left {
    padding-left: 0px;
    padding-right: 0px;
}
.about_right{
    background: url("../image/about_right.png") no-repeat right bottom;
}
.about_detail{
    color: white;
    padding-top: 164px;
}
.about_detail > h3{
    font-family: Helveticaneue_B;
    font-size: 48px;
}
.about_text_top{
    font-size: 18px;
    font-family: Helveticaneue_R;
}
.about_text_bottom{
    font-size: 14px;
    font-family: MyriadPro_R; 
}
.about_right{
    background-color: #000000;
}
/* footer */
.footer_bottom{
    background: #000000;
    color: white;
}
.footer_design{
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    font-family:  helvaticaNeue_L;
}
.footer_icon > i{
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}
.logo_footer{
    padding-top: 70px;
    padding-bottom: 108px;
}
.map_footer{
    padding-top: 72px;
    padding-bottom: 70px;
}
.logo_text{
    padding-top: 68px;
}
.logo_text> h4{
    font-size: 15px;
    color: #686768;
    
}
.logo_text> h5{
    font-size: 14px;    
}
.footer_title{
    color:#898989;
}
.footer_top{
    height: 278px;
}

